<div class="p-2 w-full flex flex-col gap-3 items-center text-black">
  <h2 class="text-2xl font-bold">Acessar Conta</h2>
  <form
    class="w-full flex flex-col gap-3 items-center"
    [formGroup]="registerForm"
    (ngSubmit)="register()"
  >
    <label for="name" class="w-full" hlmLabel
      >Nome
      <input
        name="name"
        type="name"
        hlmInput
        formControlName="name"
        class="w-full"
      />
    </label>
    <label for="email" class="w-full" hlmLabel
      >Email
      <input
        name="email"
        type="text"
        hlmInput
        formControlName="email"
        class="w-full"
      />
    </label>
    <label for="password" class="w-full" hlmLabel
      >Senha
      <input
        name="password"
        type="password"
        hlmInput
        formControlName="password"
        class="w-full"
      />
    </label>
    <button
      type="submit"
      hlmBtn
      variant="secondary"
      [disabled]="registerForm.invalid"
      class="w-full cursor-pointer hover:bg-black hover:scale-105 hover:text-white rounded-xs hover:rounded-lg hover:scale-105 hover:shadow-xl transition-all duration-300 ease-in-out"
    >
      Registrar
    </button>
  </form>
</div>
