<div class="px-10 py-6 flex flex-col gap-3">
  <h1 class="font-bold text-2xl text-orange-600">Produtos</h1>
  <form
    class="w-full shadow-lg shadow-orange-600 p-5 h-32 rounded-xl border flex items-center gap-3 mb-12"
    [formGroup]="filterform"
    (ngSubmit)="filterCategories()"
  >
    <label for="name" class="flex flex-col gap-1 w-[40%]" hlmLabel>
      O que está procurando?
      <div hlmInputWrapper class="relative">
        <ng-icon
          hlmInputIcon
          name="lucideSearch"
          class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-500 w-5 h-5"
        />
        <input
          type="text"
          formControlName="name"
          hlmInput
          name="name"
          placeholder="Nome do produto"
          class="pl-10 w-full"
          [disabled]="isLoading"
        />
      </div>
    </label>

    <label hlmLabel for="visible" class="flex flex-col gap-1 w-[30%]">
      Visibilidade
      <brn-select
        formControlName="visible"
        class="inline-block w-full"
        placeholder="Visibilidade"
        [disabled]="isLoading"
      >
        <hlm-select-trigger class="w-full">
          <hlm-select-value />
        </hlm-select-trigger>
        <hlm-select-content>
          <hlm-option [value]="true">Ativo</hlm-option>
          <hlm-option [value]="false">Não ativo</hlm-option>
        </hlm-select-content>
      </brn-select>
    </label>

    <label for="submit" class="flex flex-col gap-1 w-[30%]" hlmLabel>
      &nbsp;
      <button
        name="submit"
        type="submit"
        [disabled]="isLoading"
        hlmBtn
        class="bg-orange-500 w-full cursor-pointer hover:scale-105 hover:bg-white hover:text-black hover:shadow-xl transition-all ease-in-out duration-300 disabled:bg-black"
      >
        Pesquisar
      </button>
    </label>
  </form>

  <ng-container *ngIf="!isLoading; else loadingSkeleton">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-8 w-full place-items-center"
    >
      <app-product *ngFor="let product of products" [product]="product" />
      <div
        class="group flex bg-white flex-col min-w-62 max-w-62 h-86 border shadow-2xl rounded-xl space-y-4 justify-center items-center"
      >
        <button
          class="w-23 h-23 rounded-full cursor-pointer hover:bg-orange-500 transition-all ease-in-out duration-200 hover:scale-110 bg-orange-600 text-white flex items-center justify-center text-3xl"
        >
          +
        </button>
      </div>
    </div>
  </ng-container>

  <ng-template #loadingSkeleton>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-8 w-full place-items-center"
    >
      <hlm-skeleton
        class="group flex bg-gray-300 flex-col min-w-62 max-w-62 h-86 border shadow-2xl rounded-xl space-y-4"
        *ngFor="let _ of [].constructor(25); let i = index"
      />
    </div>
  </ng-template>
</div>
