<div class="w-full h-full flex justify-center items-center ">
  <hlm-tabs tab="account" class="mx-auto shadow-md w-1/6">
    <hlm-tabs-list class="w-full grid grid-cols-2" aria-label="tabs">
      <button hlmTabsTrigger="login" class="data-[state=active]:bg-black data-[state=active]:text-white">Entrar</button>
      <button hlmTabsTrigger="register" class="data-[state=active]:bg-orange-400 data-[state=active]:text-white">Registrar</button>
    </hlm-tabs-list>
    <div hlmTabsContent="login" class="p-3">
      <app-login-form/>
    </div>
    <div hlmTabsContent="register" class="p-3">
      <app-register-form/>
    </div>
  </hlm-tabs>
</div>
