<div
  class="text-black flex flex-col justify-center items-center w-fit font-bebas-neue"
>
  <img
    src="assets/shopi_logo.png"
    [ngClass]="{
      'w-16': type === 'mini',
      'w-18': type === 'medium',
      'w-20': type === 'large'
    }"
    class="text-black"
  />
  <span
    [ngClass]="{
      'tracking-[.15rem]': type === 'mini',
      'tracking-[.25rem] text-xl': type === 'medium',
      'tracking-[.25rem] text-2xl': type === 'large'
    }"
  >
    <span>S</span>
    <span>h</span>
    <span>o</span>
    <span>p</span>
    <span>i</span>
  </span>
</div>
