<div
  class="text-black flex flex-col justify-center items-center w-fit font-bebas-neue"
>
  <ng-icon
    name="lucideShoppingBag"
    [ngClass]="{
      'text-xl': type === 'mini',
      'text-2xl': type === 'medium',
      'text-3xl': type === 'large'
    }"
    class="text-black"
  />
  <span
    [ngClass]="{
      'tracking-[.15rem]': type === 'mini',
      'tracking-[.25rem] text-xl': type === 'medium',
      'tracking-[.25rem] text-2xl': type === 'large'
    }"
  >
    <span>S</span>
    <span>h</span>
    <span>o</span>
    <span>p</span>
    <span>i</span>
  </span>
</div>
