<div class="cursor-default w-full flex flex-wrap gap-1 items-center">
  <ng-container *ngIf="subCategories && subCategories.length > 0">
    <button
      class="w-6 h-6 rounded-full cursor-pointer hover:bg-orange-500 transition-all ease-in-out duration-200 hover:scale-110 bg-orange-600 text-white flex items-center justify-center text-sm"
      [brnPopoverTriggerFor]="createSubCategoryMenu"
    >
      +
    </button>
  </ng-container>

  <brn-popover #createSubCategoryMenu>
    <app-create-subcategory-form (subCategoryCreated)="subCategoryCreated($event)"/>
  </brn-popover>

  <ng-container *ngIf="!isSubCategoriesLoading; else skeleton">
    <ng-container
      *ngIf="subCategories && subCategories.length; else emptyState"
    >
      <ng-container *ngFor="let sub of subCategories; trackBy: trackByFn">
        <button
          [class]="{
            'bg-gray-300 hover:bg-gray-500': !sub.visible,
            'bg-orange-500 hover:bg-orange-600': sub.visible
          }"
          hlmBadge
          (click)="selectedSubCategory = sub"
          [brnPopoverTriggerFor]="updateSubCategoryMenu"
        >
          {{ sub.name }}
        </button>
        <brn-popover sideOffset="5" #updateSubCategoryMenu>
          <app-update-subcategory-form
            [subCategory]="selectedSubCategory"
            (subCategoryDeleted)="subCategoryDeleted($event)"
          />
        </brn-popover>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
<ng-template #skeleton>
  <hlm-skeleton
    *ngFor="let _ of [].constructor(8); let i = index"
    class="bg-gray-300 h-6 w-16 rounded-full"
  />
</ng-template>

<ng-template #emptyState>
  <div class="w-full flex flex-col justify-center items-center py-2 gap-2">
    <span class="text-gray-500 italic">Nenhuma subcategoria encontrada.</span>
    <button
      class="w-12 h-12 rounded-full cursor-pointer hover:bg-orange-500 transition-all ease-in-out duration-200 hover:scale-110 bg-orange-600 text-white flex items-center justify-center text-lg"
      [brnPopoverTriggerFor]="createSubCategoryMenu"
    >
      +
    </button>
  </div>
</ng-template>
