<!-- <p-drawer [(visible)]="visible" closable="false">
  <ng-template #headless>
    <div class="drawer-header">
      <app-logo type="mini" />
      <p-toggleswitch [(ngModel)]="checked" class="dark-mode-toggle">
        <ng-template #handle let-checked="checked">
            <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-moon' : 'pi-sun']"></i>
        </ng-template>
    </p-toggleswitch>
    </div>
    <div class="drawer-body">
      <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
      <p>Conteúdo do Drawer...</p>
    </div>
  </ng-template>
</p-drawer>
<button pButton (click)="visible = true" icon="pi pi-plus">Butao</button> -->
