<div hlmAccordion type="single">
  <!-- DASHBOARD -->
  <div hlmAccordionItem [isOpened]="isActive(['dashboard', 'dashboard/informacoes'])">
    <button hlmAccordionTrigger>
      <div class="flex items-center gap-3">
        <ng-icon name="lucideShoppingBag" hlm />
        Dashboard
      </div>
      <ng-icon name="lucideChevronDown" hlm hlmAccIcon />
    </button>
    <hlm-accordion-content>
      <ol>
        <app-list-item title="Início" route="/dashboard" />
        <app-list-item title="Informações" route="/dashboard/informacoes" />
      </ol>
    </hlm-accordion-content>
  </div>

  <!-- PRODUTOS -->
  <div
    hlmAccordionItem
    [isOpened]="
      isActive([
        'produtos',
        'produtos/categorias',
        'produtos/analises'
      ])
    "
  >
    <button hlmAccordionTrigger>
      <div class="flex items-center gap-3">
        <ng-icon name="lucideBox" hlm />
        Produtos
      </div>
      <ng-icon name="lucideChevronDown" hlm hlmAccIcon />
    </button>
    <hlm-accordion-content>
      <ol>
        <app-list-item title="Visão Geral" route="/produtos" />
        <app-list-item title="Categorias" route="/produtos/categorias" />
        <app-list-item title="Análises" route="/produtos/analises" />
      </ol>
    </hlm-accordion-content>
  </div>
</div>
