<div class="p-2 w-full flex flex-col gap-3 items-center text-black">
  <h2 class="text-2xl font-bold">Acessar Conta</h2>
  <form
    class="w-full flex flex-col gap-3 items-center"
    [formGroup]="loginForm"
    (ngSubmit)="login()"
  >
    <label for="email" class="w-full" hlmLabel
      >Email
      <input
        name="email"
        type="text"
        hlmInput
        formControlName="email"
        id="email"
        class="w-full"
      />
    </label>
    <label for="password" class="w-full" hlmLabel
      >Senha
      <input
        name="password"
        type="password"
        hlmInput
        formControlName="password"
        id="password"
        class="w-full"
      />
      <div class="w-full">
        <button
          hlmBtn
          variant="link"
          type="button"
          class="p-0 text-xs cursor-pointer"
        >
          Esqueci minha senha
        </button>
      </div>
    </label>
    <button
      type="submit"
      hlmBtn
      variant="secondary"
      [disabled]="loginForm.invalid || authStore.isLoading"
      class="w-full hover:cursor-pointer hover:bg-black hover:text-white rounded-xs hover:rounded-lg hover:scale-105 hover:shadow-xl transition-all duration-300 ease-in-out"
    >
      Entrar
    </button>
  </form>
</div>
